@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "YUKITA";
    src: url("../public//Font/Yukita/yukita-sans.medium.otf");
  }

@font-face {
    font-family: "GILROYSEMIBOLD";
    src: url("../public//Font/Gilroy/Gilroy-Semibold.ttf");
  }
  @font-face {
    font-family: "GILROY";
    src: url("../public//Font/Gilroy/Gilroy-Medium.ttf");
  }

  @font-face {
    font-family: "SFPROTEXT";
    src: url("../public//Font/SFProText/SF-Pro-Text-Medium.otf");
  }

  